body, html {
    padding: 0;
    margin: 0;
    font-family: Quicksand;
}

.header {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5% 0;

    h1 {
        font-family: Quicksand;
        letter-spacing: 20px;
        font-size: 8em;
    }

    label {
        display: block;
        list-style: none;
        font-family: Quicksand;
        font-weight: bold;
        line-height: 35px;
        color: rgb(66, 66, 66);
        
        label:hover {
            cursor: pointer;
            color: rgb(31, 31, 31);
        }
    }
}

button {
    margin: 35px 0px;
    width: 120px;
    border-width: 0;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-family: Quicksand;
    label:hover {
        cursor: pointer;
    }
}

th, td {
    background-color: #ecececff;
    height: 40px;
}

table {
    width: 60%;
    margin: 0 20%;
    font-family: Quicksand;
}

div {
    width: 100%;
    align-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    font-family: Quicksand;
    font-size: 3em;
}