<app-http-usage></app-http-usage>
<!--TODO: Change the ngIf once i finished with http-->
<div class="header" *ngIf="true">
  <h1>
    SCATTER
  </h1>

  <label for="fileSelector">
    Open existing dataset
  </label> 
  <input id="fileSelector" type="file" [(ngModel)]="file" (change)="fileChanged($event)" style="opacity: 0; position: absolute;">

  <label>
      Create new dataset
  </label>

  <label (click)="manageProfiles()">
      Manage profiles
  </label>
  
  <div *ngIf="file != null" style="margin: 35px 0px;">
    <!--<p>{{file}}</p>-->
    <button (click)="uploadDocument()">
      CONTINUE
    </button>
  </div>

</div>

<div *ngIf="dataVisible" class="data">
  <hr>
  <h1>Data</h1>
    <table>
        <tr>
          <th>X</th>
          <th>Y</th>
        </tr>
        <tr *ngFor="let Datapoint of Datapoints">
          <td>{{Datapoint.x}}</td>
          <td>{{Datapoint.y}}</td>
        </tr>
    </table>
    <button (click)="chartVisible = !chartVisible">
      EDIT
    </button>
</div>

<div *ngIf="chartVisible">
  <hr>
  <h1>Edit</h1>
    <table>
        <tr>
          <th>X</th>
          <th>Y</th>
        </tr>
        <tr *ngFor="let Datapoint of Datapoints">
          <td>
            <input type="number" [(ngModel)]="Datapoint.x"/>
          </td>
          <td>
            <input type="number" [(ngModel)]="Datapoint.y"/>
          </td>
        </tr>
    </table>
    <!--TODO: This should show the graph-->
    <button (click)="createChart()">
      CREATE
    </button>
    <hr>
    <h1>GRAPH</h1>
    <canvas id="line-chart" style="width: 500px; height: 500px;"></canvas>
    <textarea [(ngModel)]="content" style="width: 70%; height: 500px;"></textarea>
</div>

<router-outlet></router-outlet>
